@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Angelos';
  src: url('/fonts/Angelos.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}